@import "tailwindcss";

@theme {
    --color-primary: #00B207;
    --color-badgone: #EA4B48;
    --color-badgtwo: #2388FF;
    --color-gry: #F2F2F2;
    --color-grydp: #666666;
    --text-hsize: 32px;

    --font-Poppins: 'Poppins', sans-serif;
}
@font-face {
  font-family: 'Poppins';
  src: url('./assets/font/Poppins-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

body {
  @apply font-Poppins;
}

